/*
Colorblind safe color palette from colorbrewer2.org.
#a6611a - brown
#dfc27d - tan
#f5f5f5 - white
#80cdc1 - light green
#018571 - dark green
*/

/* Other hex codes
#008000 - green
#d6eecd - light green
#808080 - gray
*/


h2 {
  color:#f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}


#body-container {
  width: 350px;
  float: left;
}


#header {
  background-color: #008000;
  height: 70px;
  box-shadow: 0px 5px 8px grey;
  text-align: center;
  padding: 5px;
  position: relative;
  z-index: 2;
}

#body-content{
  height: 570px;
  position: relative;
  float: left;
  background-color: #d6eecd;
  text-align: left;
  padding: 10px;
  z-index: 1;
}

#copyright{
  text-align: center;
  size: 5px;
  padding: 0px;
}


/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 1);
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}
