/*
Colorblind safe color palette from colorbrewer2.org.
#a6611a - brown
#dfc27d - tan
#f5f5f5 - white
#80cdc1 - light green
#018571 - dark green
*/


h2 {
  color:#f5f5f5;
  margin: 0;
}

p {
  color:#f5f5f5;
}

#header {
  background-color: #018571;
  padding: 10px;
}


#body-container{
  background-color: #018571;
  width: 350px;
  height: 100vh;
  float: left
}
